@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.woff2") format("woff2"),
    url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.woff2") format("woff2"),
    url("fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff2") format("woff2"),
    url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

svg {
  display: block;
}

body,
*::before,
*::after {
  margin: 0 0;
  padding: 0 0;
  font-family: "TT Lakes";
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9fff5;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  outline: none;
  border: 0;
  background: transparent;
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "TT Lakes";
}

.button:hover {
  opacity: 75%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__logo {
  margin-left: 16px;
  margin-right: auto;
}

.logo__img {
  display: block;
}

.header__service-list {
  display: flex;
  list-style-type: none;
  position: relative;
}

.service-list__btn--space {
  margin-right: 16px;
}

.header__service-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  position: absolute;
  left: -22px;
  bottom: 4px;
}

.contact-list {
  display: none;
}

.main {
  background-color: #f8f8f8;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 16px;
  padding-top: 24px;
}

.main__header-title {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
}

.main__header-title::before {
  content: "";
  position: absolute;
  left: -16px;
  display: block;
  height: 40px;
  width: 4px;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}

.main__header-list {
  display: none;
}

.navigation__list {
  display: flex;
  overflow-x: scroll;
  padding-top: 23px;
  padding-left: 16px;
  list-style-type: none;
}

.navigation__list::-webkit-scrollbar {
  display: none;
}

.navigation__link {
  position: relative;
  text-decoration: none;
  display: block;
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 8px 16px 8px 16px;
}

.navigation__link:hover {
  background: white;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.navigation__link--active {
  background: white;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.article__wrapper {
  margin-top: 24px;
}

.article__text {
  padding: 0px 16px 14px 16px;
  color: #1b1c21;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.article__text-2 {
  display: none;
}

.article__btn {
  display: relative;
  margin-top: 14px;
}

.article__btn--descr {
  position: absolute;
  top: 0px;
  left: 11px;
  padding-left: 20px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;

  white-space: nowrap;
}

.article__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__btn-burger::before {
    display: block;
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    position: absolute;
    left: 60px;
    bottom: 4px;
  }

  .header__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-list__btn--space {
    margin-right: 16px;
  }

  .header__contact__list {
    display: flex;
    margin-right: 42px;
    margin-left: auto;
    align-items: center;
    list-style-type: none;
  }

  .header__logo {
    margin-left: 42px;
  }

  .main__header {
    padding-left: 24px;
  }

  .main__header-title::before {
    content: "";
    position: absolute;
    left: -24px;
    display: block;
    height: 40px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    background-color: #41f6d7;
  }

  .navigation__list {
    padding-left: 24px;
    padding-top: 30px;
  }

  .article__wrapper {
    margin-top: 30px;
    display: flex;
    align-items: top;
    padding-bottom: 25px;
  }

  .article__text {
    padding-left: 24px;
    padding-right: 46px;
    line-height: 20px;
  }

  .article__text-2 {
    display: inline-block;
    margin-top: 21px;
  }

  .article__text-2--hide {
    display: none;
  }

  .article__img {
    min-width: 360px;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 25px;
  }

  @media (min-width: 1120px) {
    .header {
      display: none;
    }

    .container {
      max-width: 1120px;
      margin: auto;
    }

    .main__header {
      padding-top: 42px;
      padding-left: 34px;
    }

    .main__header-title::before {
      content: "";
      position: absolute;
      left: -34px;
      display: block;
      height: 40px;
      width: 4px;
      border-radius: 0 4px 4px 0;
      background-color: #41f6d7;
    }

    .main__header-list {
      display: flex;
      margin-right: 32px;
      margin-left: auto;
      list-style-type: none;
    }

    .article__wrapper {
      margin-top: 12px;
    }

    .article__text {
      padding-left: 34px;
      padding-right: 36px;
    }

    .main-header__button-1 {
      margin-right: 160px;
      position: relative;
    }

    .main-header__button-1--descr {
      color: #1b1c21;
      white-space: nowrap;
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      position: absolute;
      top: 8px;
      left: -130px;
    }

    .main-header__button-2 {
      position: relative;
    }

    .main-header__button-2--descr {
      color: #1b1c21;
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      position: absolute;
      top: 8px;
      left: -126px;
    }

    .article__text-2--hide {
      display: inline;
    }

    .article__img {
      min-width: 530px;
    }

    .article__wrapper {
      padding-bottom: 35px;
    }

    .navigation__list {
      padding-top: 8px;
      flex-wrap: wrap;
      padding-left: 34px;
    }
  }
}